<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Gestion de medicos</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <nav class="navbar">
        <h1>🏥 Sistema Farmacia</h1>
        <ul>
            <li><a href="/menu">🏠 Inicio</a></li>
            <li><a href="/medicos">👨‍⚕️ Médicos</a></li>
            <li><a href="/pacientes">🧑‍🤝‍🧑 Pacientes</a></li>
            <li><a href="/turnos">📅 Turnos</a></li>
            <li><a href="/usuarios">👥 Usuarios</a></li>
            <li><a href="/logout">🚪 Cerrar Sesión</a></li>
        </ul>
    </nav>

    <a href="/pacientes">Listado de pacientes</a>
    <a href="/pacientes/nuevo">Registrar nuevo paciente</a>

</body>

</html>

</html>